.container {
  display: flex;
  flex-direction: column;
  /* margin: 1em; */
}

.cardList {
  border: 1px solid orange;
  border-radius: .3em;
  padding: 1em;
}

.sortBtn {
  background: rgba(255, 190, 10, 0.9);
  /* color: rgba(255, 255, 255, 0.9); */
  font-size: calc(var(--index)*1.7);
  height: 2.2em;
  /* width: 12em; */
  border-radius: 0.5em;
  border: none;
  margin-bottom: 1em;
  cursor: pointer;
}
